*{box-sizing: border-box;}
body{
  text-align: center;
  margin:0;
  border:none;
  padding:0;
  background:#DEF0D6;
}
input{
  outline: none;
}
p,h1,h2,h3,h4,h5,h6,ul,ol,dl,dd{
  margin:0;
  padding:0;
  list-style:none;
}
a{text-decoration:none;color:#4D7943;}
a:hover{color:#76BF62;}
img{
  vertical-align:middle;
  height: 100%;width: 100%;
}
.clear:after{
  content:"";
  display:block;
  clear:both;
}
.lf{float:left}
.rt{float:right}
.main{
  margin:0 auto;
}
iframe{
  width:100px;
}
.clearMargin{
  height:1px;
  width:1px;
}
nav{
  background: rgba(255,255,255,0.4);
  width: 1000px;
  margin: 0 auto;
  padding-bottom: 30px;
}