body{
  height:100vh;
  width:100vw;
  z-index:-10;
  overflow: hidden;
}
.main{
  width:100vw;
  height:500vh;
  position: absolute;
  top:0;
}
.login{
  width:100%;
  height:100vh;
  position: absolute;
  top:0;
  left: 0;
  overflow: hidden;
}
.login>img,.sign_up>img{
  position: absolute;
  width:100vw;
  height:100vh;
  top:0;
  left:0;
  z-index: -5;
}
.login .login_input{
  width:100%;
  margin-top:10%;
}
.login .login_input p{
  font-weight:bolder;
  font-size:5vw;
  color:#fff;
  margin-bottom:2%;
}
.login .login_input input{
  width:20%;
  height:7vh;
  font-size: 18px;
  margin-bottom:10px;
  outline: none;
  border:none;
  padding: 10px;
  border-radius:5px;
}
.login .login_input h6{
  color:#2E4824;
}
.login .login_input input:last-child{
  color:#fff;
  background:#6A9D5A;
  font-weight: bold;
}
.login .login_input input:last-child:hover{
  background:#89B27C;
  cursor: pointer;
}
.login .appstore{
  margin:3% auto;
  width:100%;
}
.login .appstore img{
  width:10%;
  border-radius: 10px;
  margin:0 15px;
}
.login .toBlue{
  background:#286090;
  position: absolute;
  bottom:0;
  right: 0;
  height: 5vh;
  width: 100vw;
  color:white;
  font-size:3vh;
  line-height:4vh;
  padding-left: 60vw;
  padding-top:1vh;
}
.login .toBlue:hover{cursor: pointer;}
.blue{
  width:100%;
  height:20%;
  background:#286090;
  position: absolute;
  top:100vh;
  left: 0;
}
.green{
  width:100%;
  height:20%;
  background: #89B979;
  position: absolute;
  top:200vh;
  left: 0;
}
.yellow{
  width:100%;
  height:20%;
  background: #F0AA64;
  position: absolute;
  top:300vh;
  left: 0;
}
.sign_up{
  width:100%;
  height:100vh;
  position: absolute;
  top:400vh;
  left: 0;
  overflow: hidden;
}
.main>ul{
  position: fixed;
  left:5%;
  top:40%;
  z-index:15;
  height:50%;
}
.main>ul>li{
  height:1vw;
  width:1vw;
  margin:60% 0;
  border:0.2vw solid #fff;
  border-radius: 50%;
}
ul>.hover{
  cursor: pointer;
  background: #fff;
}
.right_button{
  position: fixed;
  top:2%;
  right:2%;
  width:20vw;
}
.right_button input{
  width:5vw;
  height:3vw;
  font-size: 1.2vw;
  border:none;
  border-radius:10px;
  opacity: 0.6;
  z-index: 10;
}
.right_button>input:first-child{
  background:black;
  color:#fff;
  margin-right:2%;
}
.right_button>input:last-child{
  background:#fff;
}
.right_button>input:hover{
  cursor: pointer;
  opacity: 1;
}